<div class="background">
  <div class="window">
    <div class="head">Добавление сотрудника</div>
    <button class="back-btn" (click)="onClose()">назад к списку</button>
    <div class="window-container">
      <input type="text" placeholder="Введите имя" [(ngModel)]="firstName" value=''>
      <input type="text" placeholder="Введите фамилию" [(ngModel)]="lastName" value="">
    </div>
    <div class="add">
      <button class="add-btn" (click)="onAddPerson()">Добавить</button>
    </div>
  </div>
</div>

