.background{
  width: 100vw;
  height: 100vh;
  background: rgba(0,0,0,0.4);
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.window{
  display: flex;
  background: white;
  flex-direction: column;
  width: 400px;
  height: 180px;
  padding: 10px;
  border-radius: 10px;
}

.back-btn{
  color: blue;
  outline: none;
  background: transparent;
  border: 0;
  display: flex;
  justify-content: flex-start;
  cursor: pointer;
  width: 120px;

  &:before{
    content: '\2190';
  }

  &:hover{
    color: darkblue;
  }
}

.window-container{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &>*{
    height: 30px;
    width: 90%;
    margin: .5rem 0;
  }
}

.edit-btn{
  border: 1px solid lightgrey;
  outline: none;
  //background: aqua;
  height: 30px;
  width: 105px;
  cursor: pointer;
}

.edit{
  display: flex;
  justify-content: flex-end;
}
