.person-head{
  display: flex;
  flex-direction: row;
  height: 50px;
  border-bottom: 1px rgba(0,0,0,.4) solid;
  border-top: 1px rgba(0,0,0,.4) solid;
  background: lightgray;
}

.person-img{
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 60px;
  width: 60px;
  font-weight: bold;
}

.person-firstName{
  width: 100%;
  display: flex;
  align-items: center;
  padding: .5rem;
  font-weight: bold;
}

.person-lastName{
  width: 100%;
  display: flex;
  align-items: center;
  font-weight: bold;
}

button{
  width: 100px;
}
